.Add-Item-Background {
    display: block;
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.addItemHeader {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 25px;
    padding-right: 6px;
    display: flex;
}

.border {
    background: #FFFFFF;
    border: 1px solid #D6DEE9;
    border-radius: 1px 1px 0px 0px;
}

.Add-Item-Container {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 55%;
    height: 75%;
}

.Add-Item-Close-Button {
    margin-left: auto;
    
    height: 15px;
    width: 15px;
}

.Add-Item-Close-Button:hover {
    cursor: pointer;
}

.Add-Item-Close-Button-Image {
    height: 12px;
    width: auto;
    opacity: 0.5;
}

.col-25 {
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    width: 75%;
    margin-top: 6px;
}

.Photo-Box-Div {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80px;
    height: 70px;
    border: 1px dashed #C9C9C9;
}

.zmdi-cloud-upload {
    color: grey;
}

.row {
    display: flex;
    padding-left: 25px;
    padding-right: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text] {
    width: 85%;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
}
  
input[type=textarea] {
    width: 85%;
    padding: 12px;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
    resize: vertical;
    height: 50px;
}

input[type=upload] {
    width: 10%;
    height: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    resize: vertical;
    margin: 10px;
}

label {
    padding: 10px 12px 9px 0;
    display: inline-block;
    font-family: Circular Std;
    font-size: 14px;
    line-height: 16px;
}
  
input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

.disclaimer-text {
    font-size: 10px;
}

.disclaimer-text-link {
    font-size: 10px;
    color: lightskyblue;
    margin-left: 3px;
}

.disclaimer-text-link:hover {
    cursor: pointer;
}

/* .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */
  
  /* The Close Button
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  } */