.Item-Description-Background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    overflow: auto;
}

.Item-Description-Container {
    display: flex;
    position: absolute;
    width: 70%;
    min-width: 700px;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background: #FFFFFF;
    border: 1px solid #D6DEE9;
    border-radius: 3px;
}

.Item-Description-Left-Container {
    margin: 10px 20px 0 10px;
    width: 70%;
}

.Item-Description-Image > img {
    width: 100%;
    height: auto;
}

.Item-Description-Seller-Info {
    display: flex;
}

.Item-Description-Seller-Info-Separator {
    margin-left: 8px;
    margin-right: 8px;
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #636B71;
}

.Item-Description-Small-Text {
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #636B71;
}

.Item-Description-Item-Title {
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 0 0
}

.Item-Description-Price {
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    margin: 15px 0 15px 0;
}

.Item-Description-Header {
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
}

.Item-Description-Images-Container {
    display: flex;
    margin-bottom: 25px;
}

.Item-Description-Left-Image {
    width: 60px;
}

.Item-Description-Question-Input {
    height: 58px;
    width: 100%;
    border: 1px solid #BBBBBB
}

.Item-Description-Ask-Seller {
    width: 130px;
    height: 32px;
    background-color: #F25341;
    border-radius: 1px;
    box-shadow: 0px 0px 0px;
    margin: 12px 10px auto auto;
    text-align: center;
    line-height: 32px;
    font-family: 'Circular Std';
    font-size: 12px;
    color: white;
}

.Item-Description-Q-And-A {
    width: 100%;
    height: 300px;
    background: #FBFBFB;
    margin: 20px 0 10px 0;
}

.Item-Description-Q-A-Text-Container {
    padding: 20px 0 0 17px;
}

.Item-Description-Q-A-Text-Container > h1{
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
}

.Item-Description-Q-and-A-Single-Question {
    display: flex;
}

.Item-Description-Q-and-A-Single-Question p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.Item-Description-Q-and-A-Spacer {
    width: 90px;
}

.Item-Description-Close-Window-Container {
    display: flex;
}

.Item-Description-Close-Button {
    margin-left: auto;
    padding-right: 5px;
    padding-top: 5px;
    height: 15px;
    width: 15px;
}

.Item-Description-Close-Button:hover {
    cursor: pointer;
}

.Item-Description-Close-Button-Image {
    height: 12px;
    width: auto;
    opacity: 0.5;
}